.contLoginModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000006b;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.contLoginModal .childComp{
    width: 26%;
    min-height: 100px;
    background: #fff;
    border-radius: 27px;
    position: relative;
    opacity: 1;
    transition: 0.5s all;
    padding: 0px 0px;
    animation-name: example;
    animation-duration: 1s;
}

.btMeta > span:first-child{
    background: url(../../../../images/meta.png) center no-repeat;
    width: 42px;
    height: 39px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-size: 81%;
}




.childComp.openLogin{
    opacity: 1;
}

.childComp header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.childComp header .cls{
    background: #f3f3f3;
    display: flex;
    width: 37px;
    height: 37px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0.5s all;
    cursor: pointer;
    flex-wrap: wrap;
}

.grLogo{
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    box-shadow: 0 0 20px #3c3b3b42;
    background: #fff url(../../../../images/434x0w.png) no-repeat center;
      background-size: auto;
    background-size: 57%;
}

.childComp h4{
    font-family: Quicksand !important;
    font-weight: bold !important;
    text-align: center;
    font-size: 24px;
    margin-top: 7px;
}

.childComp > div:first-child p {
    font-family: Roboto !important;
    font-weight: 300 !important;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.childComp > div:last-child p{
    font-size: 12px;
    margin-top: 14px;
    text-align: center;
    line-height: 20px;
}

.btGoogle{
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #000 !important;
    background: #fff;
    border-radius: 11px;
    height: 50px;
    position: relative;
}

.btGoogle:hover{
    background: #e6e6e6!important;
}

.btGoogle > span:first-child{
    position: absolute;
    left: 9px;
    display: block;
    top: 6px;
}

.botComp{
    background: #f8f8f8;
    width: 100%;
    margin-top: 46px;
    padding: 30px 38px;
    position: relative;
    border-radius: 0px 0px 27px 27px;
}

.botComp > input{
    padding: 17px 17px;
    border: none;
    background: #e8e8e8;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    margin-top: 0;
    box-shadow: none !important;
    width: 100%;
}

.el1{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -23px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 26px #cccccc7a;
    font-size: 14px;
}

.btEmail{
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background: #0a99ff !important;
    color: #fff;
    border: 1px solid #0a99ff !important;
    border-radius: 11px;
    height: 50px;
    position: relative;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.3s all;
}

.btEmail:hover{
    opacity: 1;
}

.btEmail > span:first-child{
    position: absolute;
    left: 9px;
    display: block;
    top: 13px;
}

.botComp1{
    padding: 15px;
}

.botComp1 > header{
    justify-content: space-between!important;
}

.btnbck{
    padding: 5px 25px;
    border: none;
    padding: 10px 20px;
    background: #f3f3f3;
    border-radius: 12px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}

.contpass2 {
    margin-top: 20px;
}

.contpass2 > *{
    display: block;
}

.contpass2 > label{
    font-size: 12px;
    margin-bottom: 5px;
    font-family: Roboto;
}

.contpass2 input{
    padding: 13px 10px;
    border: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid #d6d6d6;
    border-radius: 7px;
    background: #fafafa;
    box-shadow: none !important;
    height: 50px !important;
    width: 100%;
}

.fgpas{
    font-family: Roboto !important;
    font-weight: 500 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.btLoginG{
    display: block;
    width: 100%;
    background: #0a99ff !important;
    opacity: .4;
    transition: .5s opacity;
    border: none !important;
    font-size: 14px;
    border-radius: 11px !important;
    height: 50px !important;
    color: #fff;
    font-weight: 500;
    font-family: Roboto;
}

.btLoginG:hover{
    opacity: 1!important;
}

.bxReg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

.bxReg > div{
    width: 48%!important;
    margin-bottom: 10px!important;
}

.botComp1 > h5{
    font-family: Quicksand !important;
    font-weight: 700 !important;
    margin-top: 12px;
    text-align: center;
    font-size: 25px;
}

.phInf{
    padding: 0 30px;
margin-top: 12px;
}

.termFooter{
    display: flex;
    align-items: center;
}

.termFooter{
    padding: 0 31px;
margin-top: 20px;
}

.termFooter > span{
    width: 27px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 7px;
    cursor: pointer;
    transition: 0.5s all;
    display: flex;
justify-content: center;
align-items: center;
}

.termFooter > span.activing svg{
    display: block;
}

.termFooter > span:hover{
    background: #0a99ff!important;
    border: 2px solid #0a99ff!important;
    color: #fff!important;
}

.termFooter > span.activing{
    background: #0a99ff!important;
    border: 2px solid #0a99ff!important;
    color: #fff!important;
}



div.termFooter > p.mic{
    font-family: Roboto!important;
    text-align: left!important;
    margin-top: 0!important;
    font-weight: 500 !important;
    font-size: 14px!important;
    line-height: 23px!important;
    margin-left: 11px!important;
}

.termFooter > p.mic a{
    font-family: Roboto!important;
    color: #0a99ff !important;
}

.regCont{
    border-radius: 11px !important;
    height: 50px !important;
    background: #0a99ff !important;
    display: block;
    margin: 0 30px;
      margin-top: 0px;
    margin-top: 17px;
    border: none;
    width: 84%;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
}