.viewContent{
    margin-top: 20px;
}

.viewContent h2{
    font-family: roboto;
    margin-bottom: 12px;
    margin-top: 30px;
}

.viewContent p{
    font-family: roboto;
    font-size: 14px;
    color: #555;
    font-weight: 400;
    margin-top: 10px;
}

.viewContent .ul1{
    list-style: decimal;
    font-family: roboto;
    font-weight: 400;
    color: #555;
    padding-left: 37px;
    margin-top: 10px;
    line-height: 21px;
    font-size: 14px;
}

.viewContent .ul2{
    font-family: roboto;
    font-weight: 400;
    color: #555;
    padding-left: 37px;
    margin-top: 10px;
    line-height: 21px;
    font-size: 14px;
}

.termsView{
    background: #fff;
}

.viewContent h4{
    font-family: roboto;
    font-weight: 500;
    color: #393838;
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 18px;
}

.bnh{
    margin-top: 0!important;
    padding-top: 30px!important;
}

.titSpan{
    font-weight: 700;
font-family: roboto;
margin-right: 10px;
}