@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Roboto
}



body {
  color: rgb(var(--foreground-rgb));
  background: #fcfcfc;}
section{width: 100%;}

button{cursor: pointer;}

a {
  color: inherit;
  text-decoration: none;
}


.br20{border-radius: 20px;}

/*display*/
.dFlex{display: flex;}
.dFlexPro{display: flex;align-items: center;}
.dFlexProMax{display: flex;align-items: center;justify-content: space-between;}
.algCenter{align-items: center;}
.jstBtn{justify-content: space-between;}
.jstCnr{justify-content: center;}
.flexWrap{flex-wrap: wrap;}
.dNone{display: none!important;}
.dInlineBlk{display: inline-block;}
.dBlock{display: block;}
/*display*/
/*__________________________________________*/

/*tags*/
.inputC {
  border: none;
  background: #F3F3F3;
  padding: 10px 15px;
  border-radius: 5px;
  width: 318px;
}

.inputC:focus{outline: none;}
.containerFliuid80{width: 80%;margin: auto;}
.containerFluid90{width: 90%;margin: auto;}
.containerFluid90L{width: 90%;margin: auto 0 auto auto;}
.grubInput{
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  width: 100%;
  font-size: 12px;
  font-family: Roboto !important;
  font-weight: 500 !important;
  box-shadow: 0px 7px 21px #a2a2a270;
  color: #878080;
}
.grubInput:focus{outline: none;}
.w100{width: 100%;}
.poRelative{position: relative;}
/*tags*/
/*__________________________________________*/



/*colors*/

.bgfff{background-color: #fff!important;}

/*low color : #717171*/
.lowColor{color: #717171;}

/*colors*/
/*__________________________________________*/

/*margin*/
.mt40{margin-top: 40px;}

/*margin*/
/*__________________________________________*/


/*buttons*/
.btnNoneStyle{border: none;background-color: transparent;}
.btnStyle{
  border:none;
  margin-left: 40px;
  padding: 7px 25px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}


/*buttons*/
/*__________________________________________*/

/*fonts*/
.rotateText span{font-weight: bold;font-size: 42px;}
.quicksand400{font-family: Quicksand!important;font-weight: 400!important;}
.quicksand600{font-family: Quicksand!important;font-weight: 600!important;}
.quicksand700{font-family: Quicksand!important;font-weight: bold!important;}

.roboto300{font-family: Roboto!important;font-weight: 300!important;}
.roboto400{font-family: Roboto!important;font-weight: 400!important;}
.roboto500{font-family: Roboto!important;font-weight: 500!important;}
.roboto700{font-family: Roboto!important;font-weight: 700!important;}
.robotoBold{font-family: Roboto!important;font-weight: bold!important;}

/*fonts*/
/*__________________________________________*/

/*color*/
.grubColor{color: #058ef0;}
/*color*/
/*__________________________________________*/

/*grid*/
.col3{width: 25%;padding-right: 15px;padding-left: 15px;}


/*grid*/
/*__________________________________________*/


/*padding*/
.pb40{padding-bottom: 40px!important;}
.pb60{padding-bottom: 60px!important;}
.pb80{padding-bottom: 80px!important;}
.pr80{padding-right: 80px!important;}
.pl10{padding-right: 10px!important;}
.pl20{padding-right: 20px!important;}
.p10{padding: 10px!important;}
.p20{padding: 20px!important;}
.plr5{padding: 0px 5px!important;}
/*padding*/
/*__________________________________________*/


/*sections in home page*/
.newest{background: #FFEDE8;}
/*sections in home page*/
/*__________________________________________*/

/*filter style*/
.filterStyle {border-bottom: 2px solid #ececec; padding-bottom: 11px;}
.brBottom{border-bottom: 2px solid #ececec;}

/*swiper*/
.scrollBarC .swiper-scrollbar1.swiper-scrollbar-horizontal {
  bottom: 0;
  height: 40px;
  width: 300px;
}
.scrollBarC .swiper-scrollbar-drag {
  background: none;height: 40px;cursor: pointer;top: -20px;
}
.scrollBarC .swiper-scrollbar-drag:after {
  content: "";
  width: 30px;
  height: 7px;
  border-radius: 0%;
  background: rgb(104, 104, 104);
  position: absolute;
  top: 17px;
  left: 0%;
  margin: auto;
  cursor: pointer;
}

.scrollBarC > .swiper-scrollbar1.swiper-scrollbar-horizontal {position: relative;height: 1px;background: #cecece;}

.scrollBarC .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0;
  height: 40px;
  width: 300px;
}
.scrollBarC .swiper-scrollbar-drag {
  background: none;height: 40px;cursor: pointer;top: -20px;
}
.scrollBarC .swiper-scrollbar-drag:after {
  content: "";
  width: 30px;
  height: 7px;
  border-radius: 0%;
  background: rgb(104, 104, 104);
  position: absolute;
  top: 17px;
  left: 0%;
  margin: auto;
  cursor: pointer;
}

.scrollBarC > .swiper-scrollbar.swiper-scrollbar-horizontal {position: relative;height: 1px;background: #cecece;}

.cuisineSwiper .swiper-slide {display: block;float: left;margin-top: 30px !important;}
.cuisineSwiper .swiper-wrapper {display: block;}


/* citiesSwiper */
.citiesSwiper .swiper-slide {display: block;float: left;margin-top: 30px !important;}
.citiesSwiper .swiper-wrapper {display: block;}
.scrollBarC .swiper-scrollbar3.swiper-scrollbar-horizontal {
  bottom: 0;
  height: 40px;
  width: 300px;
}
.scrollBarC .swiper-scrollbar-drag {
  background: none;height: 40px;cursor: pointer;top: -20px;
}
.scrollBarC .swiper-scrollbar-drag:after {
  content: "";
  width: 30px;
  height: 7px;
  border-radius: 0%;
  background: rgb(104, 104, 104);
  position: absolute;
  top: 17px;
  left: 0%;
  margin: auto;
  cursor: pointer;
}

.scrollBarC > .swiper-scrollbar3.swiper-scrollbar-horizontal {position: relative;height: 1px;background: #cecece;}

.resultView{color: #aaaaaa!important;font-size: 18px;margin: 60px auto 0px 30px;}

.tag.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


.tag {
  position: sticky;
  top: 0;
}

.tag.bottom {
  position: absolute;
  bottom: 0;
}

.container{
  width: 80%;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width:767px) {
  .noneXs{display: none!important;}
  .colxs12{width: 100%!important;padding-right: 15px;padding-left: 15px;}

  /* .inputC {width: auto;} */
}

@media (min-width:767px) {
  .noneXl{display: none!important;}
}


