.browsePage{position: relative;}
.browsePage .filter {width: 19%;}
.browsePage .body {width: 81%;padding-left: 4%;}
.browsePage .content{width: 93%;}
.merchantListParent{padding-right: 4%;padding-bottom: 4%;}
.loadingMerchantList{text-align: center;display: flex;justify-content: center;align-items: center;}
/* .browsePage .content{} */


