.filter{margin-top: 40px;transition: 0.5s all;}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
.radioButton{
    margin-right: 10px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 2px solid #ccc;
    border-radius: 100%;
    transition: 0.3s all;
    position: relative;
    display: block;
    cursor: pointer;
}
.radioButton.active{box-shadow: 0 0 0 6px #058ef0 inset;border-color: #058ef0 !important;outline: 4px solid #058ef0;outline-offset: -5px;}
.checkBox{
    min-width: 23px !important;
    margin-right: 10px;
    width: 23px;
    height: 23px;
    border: 2px solid #b3b1b1;
    border-radius: 7px;
    margin-right: 10px !important;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.checkBox.active{background-color: #1a9fff !important;
    border: 2px solid #1a9fff;}

.titleFilter{font-size: 13px;color: #333333;}
.row{margin-top: 20px;}
.row.active .radioButton{box-shadow: 0 0 0 6px #058ef0 inset;border-color: #058ef0 !important;outline: 4px solid #058ef0;outline-offset: -5px;}
.row:last-child{margin-bottom: 5px;}
.row .text{font-size: 14px;color:#393639}
.parent{border-bottom: 2px solid #ececec; padding-bottom: 11px;padding-top: 20px;}
.byCuisiners .body{max-height: 320px;overflow: scroll;}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding-bottom: 0px!important;
  /* سایر استایل‌های مورد نیاز */
}
